html {
    font-size: 18px;
    background-color: rgb(235, 235, 235);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }


.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    font-family: 'Poppins',sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
}

#banner {
    width: 100%;
    object-fit: cover;  
}

nav {
    display: flex;
}

nav img {
    height: 50px;
    padding: 10px;
    margin-left: 15px;
}

#brand {
    align-self: center;   
}

/*----why us----*/

h1.why-us {
    text-align: center;
    padding: 10px;
}

#product {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
}

#product-img {
    width: 50%;
}

#p-img {    
    width: 100%;
    border-radius: 6px;    
}

#description {
    width: 50%; 
    font-size: 1.25rem;
    padding-right: 10px;
}

#buy-now {
    box-shadow: 2px 2px 10px black;
    text-decoration: none; 
    background-color: #76b900;
    color: white;
    border-radius: 8px;
    padding: 10px;
    font-size: 0.875rem;
}

#buy-now:hover {
    background-color: darkgreen;
    color: white;
}

/*-----SHOP NOW----*/

h2 {
    text-align: center;
}

#gpu {
    max-width: 800px;
    margin: 40px auto;  
}

#gpu-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-top: 1px solid grey;
}

.gpu-header-row th {
    background-color: whitesmoke;
    text-align: left;
    padding: 8px;
}

.gpu-data-row td{
    padding: 8px;
    border-top: 1px solid grey;
}

#gpu-table tr:nth-child(odd) {
    background-color: whitesmoke;
}



/*-----Trade in-----*/

.trade-in{
    max-width: 800px;
    margin: 0 auto;
}

.trade-in label, select{
    font-weight: 600;
}

.trade-in input, select{
    margin-top: 5px;
    padding: 3px;
    font-size: 1.2rem;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: whitesmoke;
}

.form-group {
    margin-top: 10px;
}

.form-group textarea {
    width: 80%;
    margin-top: 5px;
}

.form-group input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.form-group input[type="submit"] {
    box-shadow: 2px 2px 5px black;
    background-color: #76b900;
    color: white;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 8px;
}

input[type="submit"]:hover {
    background-color: darkgreen;
    color: white;
    cursor: pointer;
}


/*-----footer-----*/


#footer {
    text-align: center;
    margin-top: 30px;
}

#footer li {
    list-style: none;
    display: inline;
    padding: 30px;
}

#footer li a {
    text-decoration: none;
}

#footer span {
    padding-bottom: 20px;
    color: grey;
    font-size: 0.875rem;
}